@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container-fluid mb-4 pb-4">
<div class="card mb-4 col-8 px-2  mt-5"style="align-items:center;width:100%;">
        <h1 class="text-center pt-4">@ViewData["Title"]</h1>

        <p class="text-center lead">
        We collect information that personally identifies you (“Personal Information”) only if you choose to share such information with us.
        For example, you may be required to provide us with certain Personal Information to register with the Site, make a purchase, sign up for services available through the Site, subscribe to a newsletter, enter sweepstakes, contests, or other promotions, and at other times. The decision to provide this information is optional; however, if you elect not to register or provide such information, you may not be able to access certain content or features or participate in certain areas of the Site.

        The following are examples of Personal Information we may collect from you:

        Personal Information such as your name, mailing address, your email address, phone number, credit card information (including billing information), or other information that allows us to personally identify or contact you online or offline.
        Demographic Information, which may include the following types of information about you:
        age or date of birth, income, highest level of education, gender, categories of books purchased, products owned or of interest, and other non-personal or survey-type information including attitudes, interests, and skills. In some instances, demographic information may be combined and stored together with your personal information.
        Login Information such as username and password,
        private answers to security questions or other similar information
        that allows us to identify your account or authenticate you prior to giving you access
        to your account information.
    </p>
</div>
</div>


